@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMonoNerdFont-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
